<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="deleteAllFavs()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="full-width ion-padding" *ngIf="list !== null, else nullList">
    <ion-list *ngIf="list.length !== 0, else nullList">
      <ion-item *ngFor="let item of list">
        <ion-avatar slot="start" [routerLink]="['/favorite', item.imdbID]">
          <img [src]="item.Poster" *ngIf="item.Poster !== 'N/A'">
        </ion-avatar>
        <ion-label text-wrap [routerLink]="['/favorite', item.imdbID]">
          <h3>{{ item.Title }}</h3>
          {{ item.Year }}
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="removeFavorite(item)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </section>
  <ng-template #nullList>
    <section class="full-width ion-padding">
      <ion-button expand="full" size="large" fill="outline" shape="round" color="warning" [routerLink]="['/tabs']">
        <ion-icon slot="end" name="search-outline"></ion-icon>
        NO FAVORITE MOVIES YET
      </ion-button>
    </section>
  </ng-template>

</ion-content>
